{% extends "layouts/layout.html" %}

{% block header %}
Изменение статуса
{% endblock %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <input class="btn btn-primary" type="submit"
                value="Изменить">
        </form>
    </div>
{% endblock %}