{% extends "layouts/layout.html" %}

{% block header %}
Метки
{% endblock %}

{% block content %}
    <div class="container wrapper flex-grow-1">
        <form method="post" action="{% url 'label_create' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Создать метку
            </button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                    <tr>
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
                        <td>
                            <a href="{% url 'label_update' pk=label.id %}">Изменить</a>
                            <br>
                            <a href="{% url 'label_delete' pk=label.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

